body {
	font-family : Verdana, Arial, sans-serif ;
	font-size : 10pt;
	color: #fff;
	background-color: #111;
}
table {
	border: 0px;
}


.menu-a {
	text-decoration: none;
	font-size : 10pt;
	color:#FF9621;
}
.menu-a:hover {
                color: #FFF;
                border-bottom: 1px dashed #FFF;
                }
.menu-td {
        background-color: #222;
} 


.title-text {
	color: #FF9621;
	font-family: serif ;
	font-size: 18pt;
}
.title-td {
	width: 100%;
        background-color: #444;
	padding: 10;
} 


.toflist-td {
	vertical-align: top;
        background-color: #000;
#	border: 4px solid #fff;
	padding: 4;
	margin: 0;
} 
.toflist-text {
	color: #fff;
	font-family: serif ;
	font-size: 10pt;
	text-align: left;
}
